.content
	-if user_signed_in?
		- if current_user.facebook_img 
			= image_tag(current_user.facebook_img, :alt => current_user.username, :class => "grava_img", :name => current_user.email) 
		- else 
			= gravatar_image_tag(current_user.email, :alt => current_user.username, :class => "grava_img", :name => current_user.email) 
		%h1
			= @user.username 
		= form_for User.new, :url => add_friend_user_path do |u| 
			= u.submit "Add friend"
		= simple_form_for :friend, :url => send_message_user_path do |u|
			= u.input "message"
			= u.submit "Send Message"
	-else 
		%h1
			Du must eingeloggt sein


