<!DOCTYPE html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<title>Cevin Eichnau</title>
	</head>
	<body>
		<div class="content" >
			<h1><%=t :about_me_0 %></h1> <br>
			<h3><%=t :about_me_1 %> <br> <br>
				<%=t :about_me_2 %><a class="empuxa_link" href="http://www.empuxa.com" >empuxa GmbH</a><br>
				<%=t :about_me_3 %> <br>
			    <%=t :about_me_4 %> <br>
				<%=t :about_me_5 %> <br>
				<%=t :about_me_6 %> <br>
				<%=t :about_me_7 %> <br>
				<%=t :about_me_8 %> <br>
				<%=t :about_me_9 %> <br> <br> <br>

				<h1><%=t :more_about_0 %></h1> <br>
				<h3>
					<%=t :more_about_1 %><br> 
					<%=t :more_about_2 %> <br>
					<%=t :more_about_3 %><br> 
					<%=t :more_about_4 %> <br> 
					<%=t :more_about_5 %>
				</h3>
			</h3>
		</div>
	</body>
</html>
