
	<p id="notice"><%= notice %></p>

	<p>
	  <h1 style="padding-top:20px">Author:</h1>
	  <h3 style="width:800px; padding-top:20px"><%= @wall.name.force_encoding('utf-8') %></h3>
	</p>

	<p>
	  <h1 style="padding-top:20px">Title:</h1>
	  <h3 style="width:800px; padding-top:20px"><%= @wall.title.force_encoding('utf-8') %></h3>
	</p>

	<p>
	  <h1 style="padding-top:30px">Content:</h1>
	  <h3 style="width:800px; padding-top:20px"><%= @wall.content.force_encoding('utf-8') %></h3>
	</p>


	
	<div class="new_comment">
		<div class="editPost">
			<td class="editPost"><%= link_to 'Back', walls_path, :class => "btn" %></td>
		</div>	
	</div>	
