<% if !user_signed_in? %>
	<h1 class="create_play_on">
		<div id="header" class="navbar">
  	<div class="navbar-inner">
  		<div class="container">
  			<div class="row">
  				<div class="span2">
  					<a id="brand" href="/play_on" class="brand">PlayOn</a>
  				</div>
  				<div id="query-wrapper" class="span3">
  				<input id="query" type="text" spellcheck="false" placeholder="Search for music" name="jukesy-query">
  				<i class="icon-search"></i>
  				<button id="search" onclick="search()" >Search</button>
  			</div>
  			<div id="session-button">
  				<ul class="nav pull-right">
  					<li>
  						<a href="#" class="sign-up"  >Sign up</a>
  					</li>
  					<li>
  						<% if user_signed_in? %>
							<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
						<% else %>
  						<a href="#" class="sign-in highlight" >Login</a>
  						<% end %>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>
  <div id="modal" class="modal hide fade in" >
		<div>
			<div class="modal-header">
				<a data-dismiss="modal" id="pop_close" class="close"  ></a>
				<h3>Sign up for PlayOn</h3>
			</div>
			<div class="modal-body">
				<%= form_for(:user, :as => :user, :url => registration_path(:user)) do |f| %>
					<fieldset>
						<div class="control-group">
							<label for="user-new-username" class="control-label">Username</label>
							<div class="controls">
								
								<%= f.text_field :username %>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="control-group">
							<label for="user-new-email" class="control-label">Email</label>
							<div class="controls">
								<%= f.text_field :email %>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="control-group">
							<label for="user-new-password" class="control-label">Password</label>
							<div class="controls">
								<%= f.password_field :password %>
								<span class="help-inline"></span>
							</div>
						</div>
					</fieldset>
				<div>
					<a href="#" class="sign-in-change"  >Already have an account?  Sign in.</a>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary"><%= f.submit "Sign up" %></button>
				<% end %>
				<button data-dismiss="modal" class="btn"><a id="chanel-pop" href="#">Cancel</a></button>
			</div>
		</div>
	</div>
	<div id="modal1" class="modal hide fade in">
		<div>
			<div class="modal-header">
				<a data-dismiss="modal" id="pop_close" class="close"  ></a>
				<h3>Sign in for PlayOn</h3>
			</div>
			<div class="modal-body">
				 <%= form_tag new_user_session_path do %>
					<fieldset>
						<div class="control-group">
							<label for="user-new-email" class="control-label">Email</label>
							<div class="controls">
								<input id="user-new-email" type="text" name="user[email]">
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="control-group">
							<label for="user-new-password" class="control-label">Password</label>
							<div class="controls">
								<input id="user-new-password" type="password" name="user[password]">
								<span class="help-inline"></span>
							</div>
						</div>
					</fieldset>
				<div>
					<a href="#" class="sign-up"  >you have not an account?  Sign up.</a>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary"><%=  submit_tag 'Login' %></button>
				<% end %>
			
				<button data-dismiss="modal" class="btn"><a id="chanel-pop1" href="#">Cancel</a></button>
			</div>
		</div>
	</div>	
	<h1 class="craete_play_on1" >
		<%=t :create_play_on %> 
	</h1>
<% else  %>
 <body class="fade in" style="">
  <div id="modal" class="modal hide fade in" style="display: none;">
		<div>
			<div class="modal-header">
				<a data-dismiss="modal" id="pop_close" class="close"  ></a>
				<h3>Sign up for PlayOn</h3>
			</div>
			<div class="modal-body">
			
				<%= form_for(:user, :as => :user, :url => registration_path(:user)) do |f| %>
					<fieldset>
						<div class="control-group">
							<label for="user-new-username" class="control-label">Username</label>
							<div class="controls">
								<%= f.text_field :username %>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="control-group">
							<label for="user-new-email" class="control-label">Email</label>
							<div class="controls">
								<%= f.text_field :email %>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="control-group">
							<label for="user-new-password" class="control-label">Password</label>
							<div class="controls">
								<%= f.password_field :password %>
								<span class="help-inline"></span>
							</div>
						</div>
					</fieldset>
				<div>
					<a href="#" class="sign-in-change"  >Already have an account?  Sign in.</a>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary"><%= f.submit "Sign up" %></button>
				<% end %>
				<button data-dismiss="modal" class="btn"><a id="chanel-pop" href="#">Cancel</a></button>
			</div>
		</div>
	</div>

	<div id="modal1" class="modal hide fade in" style="display: none;">
		<div>
			<div class="modal-header">
				<a data-dismiss="modal" id="pop_close" class="close sign-in"  ></a>
				<h3>Sign in for PlayOn</h3>
			</div>
			<div class="modal-body">		
				 <%= form_tag new_user_session_path do %>
					<fieldset>
						<div class="control-group">
							<label for="user-new-email" class="control-label">Email</label>
							<div class="controls">
								<input id="user-new-email" type="text" name="user[email]">
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="control-group">
							<label for="user-new-password" class="control-label">Password</label>
							<div class="controls">
								<input id="user-new-password" type="password" name="user[password]">
								<span class="help-inline"></span>
							</div>
						</div>
					</fieldset>
				<div>
					<a href="#" class="sign-up"  >you have not an account?  Sign up.</a>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary"><%=  submit_tag 'Login' %></button>
				<% end %>
			
				<button data-dismiss="modal" class="btn"><a  href="#">Cancel</a></button>
			</div>
		</div>
	</div>		
  <div id="modal" class="modal hide fade">
  </div>
  <div id="header" class="navbar">
  	<div class="navbar-inner">
  		<div class="container">
  			<div class="row">
  				<div class="span2">
  					<a id="brand" href="/play_on" class="brand">PlayOn</a>
  				</div>
  				<div id="query-wrapper" class="span3">
  				<input id="query" type="text" spellcheck="false" placeholder="Search for music" name="jukesy-query">
  				<i class="icon-search"></i>
  				<button id="search" onclick="search()" >Search</button>
  			</div>
  			<div id="session-button">
  				<ul class="nav pull-right">
  					<li>
  						<a href="#"><%= current_user.username %></a>
  					</li>
  					<li>
  						<a href="#" class="sign-up"  >Sign up</a>
  					</li>
  					<li>
  						<% if user_signed_in? %>
							<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
						<% else %><a href="#" class="sign-in highlight" >Login</a>
  							
  						<% end %>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div id="container" class="container">
	<div class="row">
		<div id="sidebar" class="sidebar-nav span2">
			<div class="playlist_form"  >
				<%= render :partial => "form", :locals => {:playlist => @playlist} %>
			</div>
			<ul class="nav nav-list">
				<li>
					<a href="#">
						<i class="icon-music">
						</i> PlayOn
					</a>
				</li>
				<li>
					<a href="#" class="create-playlist"  >
						<i class="icon-plus-sign"> </i> Create Playlist
					</a>
				</li><!--li--><!--  a(href= '/favorites')--><!--    i.icon-star--><!--    |  Favorites-->
				<li>
					<a class="amina" href="#">
						<i class="icon-th-list"></i> My Playlists
					</a>
				</li>
				<li class="divider"></li>
				<% current_user.playlists.each do |p| %>
				<li >
					<div class="droppable" style="height:25px; width:200px;" >
						<div class="playlist_id" data-playlist-id="<%= p.id %>"></div>
						<a href="#" class="playlist  new">
							<i class="icon-music"></i> <%= p.name %>
						</a>
					</div>	
				</li>
				<% end %>
			</ul>
			<div class="play_form" ><%=  render "links/form" %></div>
		</div>
		<div class="span10">
			<div id="video-wrapper"><div>
				<div id="quality">HD</div>
				<object type="application/x-shockwave-flash" frameborder="0" id="ytapiplayer" data="http://www.youtube.com/apiplayer?version=3&amp;enablejsapi=1&amp;playerapiid=video&amp;wmode=transparent" width="480" frameborder="0" height="270" style="visibility: visible;"><param name="allowScriptAccess" value="always"><param name="wmode" value="transparent"></object></div>
			</div>
			<div id="main">
				<div>
					<h1>PlayOn</h1>
					<p>the free music app</p>
				</div>
			</div>
			<hr>
			<footer>
				<div class="pull-left">
					<a target="_blank" href="eichnau.com" class="ll">eichnau.com</a>
				</div>
				<div class="pull-right">
					<a href="/about">About</a> • 
						<!--a(href= '/privacy-policy') Privacy Policy--><!--|  &bullet; --><!--a(href= '/terms-of-service') Terms of Service--><!--|  &bullet; -->
					<a id="keyboard-shortcuts">by Cevin Eichnau</a>
				</div>
			</footer>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  			<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  			<% current_user.playlists.each do |l| %>
	  			<div class="playlist_results" >
	  				<% l.links.each do |t| %>
	  					<h1  class="plares" data-video-id="<%= t.video_id %>" ><%= t.title.split("<br>").first %></h1><br>
	  				<% end %>	
	  			</div>
  			<% end %>
  			<div class="search_results" >
				<a class="draggable" onclick="play_songs(1)" >
		 				<h1 id="txt_output_1" data-video-id="id" ></h1> 
	 			</a> <br>
	 			<a class="draggable" onclick="play_songs(2)" >
		 				<h1 id="txt_output_2" data-video-id="id" ></h1> 
	 			</a> <br>
	 			<a class="draggable" onclick="play_songs(3)" >
		 				<h1 id="txt_output_3" data-video-id="id"></h1> 
	 			</a>
 			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<div id="meow" class="span4"></div>
<div id="controls">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="track-info"></div>
				<div id="time-read">
					<div class="time-current"></div> 
						<div class="time-duration"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12 controls">
					<div class="controls-left">
						<div id="prev" class="control">
							<div class="icon-backward"></div>
						</div>
						<div id="play-pause" class="control">
							<div class="icon-play icon-large" href="javascript:void(0);" onclick="play();" >
							</div>
						</div>
						<div id="pause" class="control">
							<div class="icon-pause" href="javascript:void(0);" onclick="pause();" >
							</div>
						</div>
						<div id="next" class="control" onclick="timeDuration()" >
							<div class="icon-forward"></div>
						</div>
						<div id="volume" class="control">
							<div class="icon-volume-down"></div>
						</div>
						<div id="volume-bar" class="control">
							<div class="fill bar"></div>
						</div>
					</div>
					<div class="controls-middle" style="margin-top:5px; margin-left:15px;" >
						<div id="timer" class="control progress progress-success progress-striped">
							<div id="yttimer" class="track bar" style="width: 0%;"></div>
							<div class="fill fill-fill" ></div>
						</div>
					</div>
					<div class="controls-right">
						<div id="repeat" class="control off">
							<div class="icon-repeat"></div>
						</div>
						<div id="shuffle" class="control off">
							<div class="icon-random"></div>
						</div>
						<div id="fullscreen" class="control">
							<div class="icon-resize-full"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="templates">
	</body>
  <% end %>	