<!DOCTYPE html>
<html>
<head>
  <title>Cevin Eichnau</title>
  <meta property="og:image" content="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash4/314553_311820542252747_1803110278_n.jpg" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
<meta name="csrf-param" content="authenticity_token" />
</head>
	<div id="fb-root"></div>
	<div id="main">
			<header class="header">
				<nav class="nav">
	    			<div>
	    				<ul class="menu"> <!-- hmenu -->
	    					<li class="libth" >
	    						<a href="/"><%=t :bt_home %></a>
	    					</li>
	    					<li class="libtc" >
	    						<a href="/contact"><%=t :bt_cont %></a>
	    					</li>
	    					<li class="libtp" >
	    						<a href="/posts"><%=t :bt_blog %></a>
	    					</li>
	    					<li class="libtw" >
	    						<a href="/walls"><%=t :bt_wall %></a>
	    					</li>
	    					<li class="libtpo" >
	    						<a href="/play_on">PlayOn</a>
	    					</li>
	       					<li class="libtfr" >
	    						<a onclick="getStatus()" >Register or Login with facebook</a>
	    					</li>
	    					<% if user_signed_in? %>
							  <li class="libter" >
							  <%= link_to('Edit registration', edit_user_registration_path) %>
							  </li>
							<% else %>
							  <li class="libtr" >
							  <%= link_to('Register', new_user_registration_path)  %>
							  </li>
							<% end %>
							<% if user_signed_in? %>
							  <li class="libtlo" >
							  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
							  </li>
							<% else %>
							  <li class="libtli" >
							  <%= link_to('Login', new_user_session_path)  %>  
							  </li>
							<% end %> 

	    					<li class="langs" >
	    						<% if I18n.locale == I18n.default_locale %>
								  <%= link_to "Deutsch", :locale=>'de'%>

								<% else %>
								  <%= link_to "English", :locale=>'en'%>

								<%end%>
	    					</li>	
	    				</ul> 
	       			</div>
	    		</nav>
	    	</header>
	    	<div class="footer">
				<h6>Unless otherwise stated, programs and writing is © 2013 by Cevin Eichnau</h6>
			</div>
	    </div>
<div class="post">
<%= yield %>
</div>

<script type="text/javascript">
	 l = window.location.toString().split("/").slice(-1)[0].split("?")[0]
	 console.log(l);
 	if (l == "sign_in") {
 	 $(".libtli").addClass("current");
	} else if (l == "sign_up") {
		$(".libtr").addClass("current");
	}
</script>


</html>
