<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<div id="main">
			<header class="header">
				<nav class="nav">
	    			<div>
	    				<ul class="hmenu">
	    					<li>
	    						<a href="/"><%=t :bt_home %></a>
	    					</li>
	    					<li>
	    						<a href="/contact"><%=t :bt_cont %></a>
	    					</li>
	    					<li>
	    						<a href="/posts"><%=t :bt_blog %></a>
	    					</li>
	    					<li>
	    						<a href="/walls"><%=t :bt_wall %></a>
	    					</li>
	    					<li class="langs" >
	    						<% if I18n.locale == I18n.default_locale %>
								  <%= link_to "English", :locale=>'en'%>

								<% else %>
								  <%= link_to "Deutsch", :locale=>'de'%>

								<%end%>
	    					</li>	
	    				</ul> 
	       			</div>
	    		</nav>
	    	</header>
	    	<div class="footer">
				<h6>Unless otherwise stated, programs and writing is © 2013 by Cevin Eichnau</h6>
			</div>
	    </div>

<%= yield %>

</html>
