
<!DOCTYPE html>
<html>
<head>
  <title>PlayOn</title>
  <%= stylesheet_link_tag    "playon", :media => "all" %>
  <%= javascript_include_tag "playon" %>
  <%= csrf_meta_tags %>
  	<meta name="csrf-token" content="<%= form_authenticity_token %>" />
	<meta name="csrf-param" content="authenticity_token" />
</head>
<body>
	
		<div id="header" class="navbar">
  	<div class="navbar-inner">
  		<div class="container">
  			<div class="row">
  				<div class="span2">
  					<a id="brand" href="/play_on" class="brand">PlayOn</a>
  				</div>
  				<div id="query-wrapper" class="span3">
  				<% if user_signed_in? %>
  					<%= render "layouts/search" %>
  				<% end %>
  			</div>
  			<div id="session-button">
  				<ul class="nav pull-right">
  					<% if !user_signed_in? %>
  					<li>
  						<a href="#" class="sign-up"  >Sign up</a>
  					</li>
  					<li>
  						<a id="login"  href="#" class="sign-in highlight" >Login</a>
  					</li>
  					<% else %>
  						<li>
  						<a href="#"><%= current_user.username %></a>
  					</li>
  					<li class="logout" >
						<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  					</li>
  					<% end %>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>

  <%= render "layouts/models/model_sign_in" %>
  <%= render "layouts/models/model_sign_up" %>

 

 <% if !user_signed_in? %>
	<img src="/assets/playonbanner.png">
 <% end %>	

<%= yield %>
<% if user_signed_in? %>
<div class="clear"></div>
<div id="meow" class="span4"></div>
<div id="controls">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="track-info"></div>
				<div id="time-read">
					<div class="time-current"></div> 
						<div class="time-duration"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12 controls">
					<div class="controls-left">
						<div id="prev" class="control">
							<div class="icon-backward"></div>
						</div>
						<div id="play-pause" class="control">
							<div class="icon-play icon-large" href="javascript:void(0);" onclick="play();" >
							</div>
						</div>
						<div id="pause" class="control">
							<div class="icon-pause" href="javascript:void(0);" onclick="pause();" >
							</div>
						</div>
						<div id="next" class="control" onclick="timeDuration()" >
							<div class="icon-forward"></div>
						</div>
						<div id="volume" class="control">
							<div class="icon-volume-down"></div>
						</div>
						<div id="volume-bar" class="control">
							<div class="fill bar"></div>
						</div>
					</div>
					<div class="controls-middle" style="margin-top:5px; margin-left:15px;" >
						<div id="timer" class="control progress progress-success progress-striped">
							<div id="yttimer" class="track bar" style="width: 0%;"></div>
							<div class="fill fill-fill" ></div>
						</div>
					</div>
					<div class="controls-right">
						<div id="repeat" class="control off">
							<div class="icon-repeat"></div>
						</div>
						<div id="shuffle" class="control off">
							<div class="icon-random"></div>
						</div>
						<div id="fullscreen" class="control">
							<div class="icon-resize-full"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="templates">
		 <% end %>
	</body>
	
	



