
<!DOCTYPE html>
<html>
<head>
  <title>PlayOn</title>
  
	<script type="text/javascript" 
        src="http://playonchatter.herokuapp.com/faye/client.js">
        </script>
</head>
<body>
	
		<div id="header" class="navbar" style="margin-bottom: 0;">
  	<div class="navbar-inner">
  		<div class="container">
  			<div class="row">
  				<div class="span2">
  					<a id="brand" href="/play_on" class="brand">PlayOn </a> <!--  Beta version-->
  				</div>
	  				<div id="query-wrapper" class="span3">
	  				<% if user_signed_in? %>
	  					<%= render "layouts/search" %>
	  				<% end %>
	  				</div>
  			<div id="session-button">
  				<% if !user_signed_in? %>
	  				<ul class="nav pull-right">
	  					<li style="margin-left:-50px;" >
	  						<a href="#" class="sign-up"  >Regestrieren</a>
	  					</li>
	  					<li>
	  						<a id="login"  href="#" class="sign-in highlight" >Login</a>
	  					</li>
	  					<button style="position:relative; top:15px;" >
	  							<a href="/users/auth/facebook" style=" color:blue;" >Logn with Facebook</a>
	  					</button>

  					<% else %>
  					<ul class="navs nav pull-right">
						<li>
							<% if current_user.facebook_img %>
								<%= image_tag(current_user.facebook_img, :alt => current_user.username, :class => "grava_img", :name => current_user.email) %>
							<% else %>
								
							<% end %>	
						</li>
						<li>
	  						<a href="#"><%= current_user.username %></a>
	  					</li>
	  					<li class="logout" >
							<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  					</li>
  					<% end %>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>

  <%= render "layouts/models/model_sign_in" %>
  <%= render "layouts/models/model_sign_up" %>

 

 <% if !user_signed_in? %>
	<img src="/assets/playonbanner.png">
 <% end %>	
</div>
<%= yield %>
<% if user_signed_in? %>
<div class="clear"></div>
<div id="meow" class="span4"></div>

<div id="controls">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="track-info"></div>
				<div id="time-read">
					<div class="time-current"></div> 
						<div class="time-duration"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12 controls">
					<div class="controls-left">
						<div id="prev" class="control">
							<div class="icon-backward"></div>
						</div>
						<div id="play-pause" class="control">
							<div class="icon-play icon-large" href="javascript:void(0);" onclick="play();" >
							</div>
						</div>
						<div id="pause" class="control">
							<div class="icon-pause" href="javascript:void(0);" onclick="pause();" >
							</div>
						</div>
						<div id="next" class="control" onclick="timeDuration()" >
							<div class="icon-forward"></div>
						</div>
						<div id="volume" class="control">
							<div class="icon-volume-down"></div>
						</div>
						<div id="volume-bar" class="control">
							<div class="fill bar volume_bar" ></div>
						</div>
					</div>
					<div class="controls-middle" style="margin-top:5px; margin-left:15px;" >
						<div id="timer" class="control progress progress-success progress-striped">
							<div id="yttimer" class="track bar" style="width: 0%;"></div>
							<div class="fill fill-fill" ></div>
						</div>
					</div>

					<div class="controls-right">
						<div id="fullscreen" class="control">
							<div class="icon-resize-full"></div>
						</div>
						<div id="fullscreen" class="control">
							<div class="icon-resize-small"></div>
						</div>
						<div class="control" >
							<div class="full_hd" >FULL HD</div>
						</div>
						<div class="control" >
							<div class="hd" >HD</div>
						</div>
						<div class="control" >
							<div class="sd">SD</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="templates">
		 <% end %>
	</body>
	
	



